/* Basic settings */
*{
    margin: 0;
    padding: 0;
}

/* Colors */
:root {
    /* Elements colors settings */
    --BG-Body: rgb(60,60,60);
    --BG-Search: rgba(215, 215, 215, 0.53);
    --BG-Main: none;
    --BG-MainShortcuts:black;
    --BG-Nav: rgba(255, 121, 121, 0.37);
    /* Text colors settings */
    --Search-TxtColor: black;
    --Search-Outline: black;
    --Search-Outline-Focus:rgba(255, 121, 121, 0.5) ;
}
body{
    background-color: var(--BG-Body);
}
header #search{
    background-color: var(--BG-Search);
}
main{
    background-color: var(--BG-Main);
}
main .shortcuts{
    background-color: var(--BG-MainShortcuts);
}
nav{
    background-color: var(--BG-Nav);
}

/* Images */
nav #settingBtn{
    background: url(img/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
nav #newBtn{
    background: url(img/AddBtn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Font settings */
header #search{
    color: var(--Search-TxtColor);
    font-family: "Irish Grover", system-ui;
    letter-spacing: 0.1rem;
    font-size: 1.2rem
}
header #search::placeholder{
    color: var(--Search-TxtColor);
}

/* Decoration */
header #search{
    border: 0;
    outline: solid var(--Search-Outline) 3px;
    border-radius: 8px;
    padding-left: 1rem;
}
header #search:focus{
    outline: solid var(--Search-Outline-Focus) 3px;
}
main .shortcuts{
    border-radius: 10px;
}
main::-webkit-scrollbar{
    display: none;
}

/* Sizes / Layout */
body{
    display: grid;
    grid-template-columns: 3vw 94vw 3vw;
    grid-template-rows: 4rem auto 8rem;
}
header{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #search{
    width: 100%;
    height: 70%;
}
main{
    grid-column: 2/3;
    grid-row: 2/3;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: min-content;
    margin-bottom: 10px;
}
main .shortcutsDiv{
    height: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .shortcuts{
    display: flex;
    width: 90%;
    aspect-ratio: 1/1;
}
nav{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-between;
    padding: 0 3vw;
}
nav a{
    display: block;
    height: 80%;
    max-width: 50%;
    aspect-ratio: 1/1;
}