/* Basic settings */
*{
    margin: 0;
    padding: 0;
}

/* Colors */
:root {
    /* Elements colors settings */
    --BG-Body: rgb(60,60,60);
    --BG-Search: rgba(215, 215, 215, 0.53);
    --BG-Main: none;
    --BG-Nav: rgba(255, 121, 121, 0.37);
    --BG-NewBtnOptions: rgba(0, 0, 0, 0.384);
    /* Text colors settings */
    --Search-TxtColor: black;
    --Search-Outline-Focus:rgba(255, 121, 121, 0.5);
    --Nav-NewBtnTxt: rgba(255, 255, 255, 0.76);
    --Nav-NewBtnTxtFocus: rgb(255, 255, 255);
}
body{
    background-color: var(--BG-Body);
}
header #search{
    background-color: var(--BG-Search);
}
main{
    background-color: var(--BG-Main);
}
main .shortcuts{
    background-color: var(--BG-MainShortcuts);
}
nav{
    background-color: var(--BG-Nav);
}
nav #newBtnOptions{
    background-color: var(--BG-NewBtnOptions);
}

/* Images */
nav #settingBtn{
    background: url(img/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}
nav #newBtn{
    background: url(img/AddBtn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115%;
}
main .shortcuts{
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Font settings */
header #search{
    color: var(--Search-TxtColor);
    font-family: "Irish Grover", system-ui;
    letter-spacing: 0.1rem;
    font-size: 1.2rem
}
header #search::placeholder{
    color: var(--Search-TxtColor);
}
nav #newBtnOptions button{
    font-size: 2rem;
    font-family: "Irish Grover", system-ui;
    color: var(--Nav-NewBtnTxt);
}
nav #newBtnOptions button:focus, nav #newBtnOptions button:hover{
    color: var(--Nav-NewBtnTxtFocus);
}


/* Decoration */
header #search{
    border: 0;
    border-radius: 8px;
    padding-left: 1rem;
}
header #search:hover{
    opacity: 0.8;
}
header #search:focus{
    outline: solid var(--Search-Outline-Focus) 3px;
}
main .shortcuts{
    border-radius: 10px;
}
main .shortcuts:hover, main .shortcuts:focus{
    opacity: 0.7;
    width: 93%;
}
main::-webkit-scrollbar{
    display: none;
}
nav a{
    border-radius: 100%;
}
nav a:hover{
    opacity: 0.7;
}
nav #newBtnOptions{
    border-radius: 10px;
    transform: translateY(20px); 
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease; 
}
nav #newBtnOptions button{
    border: 0;
    background: none;
    text-align: left;
}
.show{
    display: flex !important;
    transform: translateY(0) !important; 
    opacity: 1 !important; 
}

/* Sizes / Layout */
body{
    display: grid;
    grid-template-columns: 3vw 94vw 3vw;
    grid-template-rows: 3.5rem auto 8rem;
}
header{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}
header #search{
    margin-top: 10px;
    width: 100%;
    height: 75%;
}
main{
    grid-column: 2/3;
    grid-row: 2/3;
    overflow-y: scroll;
    display: grid;
    grid-auto-rows: min-content;
    margin-bottom: 10px;
}
main .shortcutsDiv{
    height: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .shortcuts{
    display: flex;
    width: 90%;
    aspect-ratio: 1/1;
}
nav{
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-between;
    padding: 0 3vw;
}
nav a{
    display: block;
    height: 80%;
    max-width: 50%;
    aspect-ratio: 1/1;
}
nav #newBtnOptions{
    position: absolute;
    bottom: 8rem;
    right: 0;
    margin: 10px;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}
nav #newBtnOptions button{
    margin-bottom: 20px;
}